/*
path, line {
    fill: none;
    stroke: black;
    stroke-linecap: round;
}
.field {
    stroke: none;
}

.slope {
    stroke-width: 1px;
}
.river {
    stroke: #000099;
    stroke-width: 2px;
}
.coast {
    stroke-width: 2px;
}
.border {
    stroke-width: 5px;
    stroke-dasharray: 4,4;
    stroke-linecap: butt;
}

text {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif, serif;
    color: black;
    stroke: white;
    stroke-width: 5px;
    stroke-linejoin: round;
    paint-order: stroke;
}

text.region {
    stroke-width:10px;
    font-variant: small-caps;
}
*/

text {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif, serif;
}
.map-symbol > img {
    width: 32px;
    height: auto;

}
svg {
    float: right;
    background-color: white;
}
svg.select-mode image.icon:hover,
svg.select-mode image.icon.now-selecting {
    width: 40px;
    height: 40px;
	transition-duration: 0.3s;	/*変化に掛かる時間*/
    cursor: pointer;
}

#place-mode-div {
    visibility: collapse;
}

svg.place-mode {
    cursor: crosshair;
}

.icon-list .map-symbol {
    cursor: pointer;
}

#select-mode-div {
    visibility: collapse;
    position: absolute;
    width: 300px;
    height: 160px;
    border-radius: 5px;
    background-color: #F3F3F3;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
    padding: 5px;
    z-index: 100;
}
#delete-symbol {
    margin-left: 40px;
}
#select-mode-whole-shadow {
    visibility: collapse;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    z-index: 99;
}
#loading-screen {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    z-index: 1000;
}
#loading-screen .inner{
    width: 300px;
    height: 300px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}
#loading-screen .inner .preloader-wrapper {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}
#loading-status {
    margin-top: 110px;
    margin-left: 64px;
}